/*--- MAIN LEFT MENU CONTAINER ---*/
#main_left_menu_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  padding-left: 25px;
}
#wikipedia_logo {
  width: 100%;
  height: 160px;
  margin-bottom: 25px;
  margin-left: 2px;
  padding-top: 5px;
}
#main_left_menu_container .col-lg-12 {
  padding-left: 10px;
  padding-right: 0;
}
#main_left_menu_container ul {
  list-style-type: none;
  font-size: 12px;
  padding-left: 0;
}
#main_left_menu_container ul li a{
  color: #0645AD;
}
/*-- ADDITIONAL STYLES, COLORS, ETC --*/
#purple {
  color: #0b0080;
}
.dk-gray {
  color: #444444;
}
.lt-gray-border-btm {
  border-bottom: 1px solid #555;
}
