/*--- MAIN LEFT MENU CONTAINER ---*/
#main_left_menu_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  padding-left: 10px;
  margin-left: 0;
}
#wikipedia_logo {
  width: 100%;
  height: 160px;
  margin-bottom: 25px;
  padding-left: 2px;
  padding-top: 5px;
}
#main_left_menu_container .col-lg-12 {
  padding-left: 10px;
  padding-right: 0;
}
#main_left_menu_container ul {
  font-size: 12px;
  padding-left: 0;
}
#main_left_menu_container ul li a{
  color: #0645AD;
}

/*--- MAIN ARTICLE CONTAINER ---*/
#main_right_container {
  width: 100%;
  margin-left: 130px;
}
#top_nav_container {
  padding: 7px 0 0 0;
}
#top_nav_container ul {
  font-size: 12px;
  float: right;
}
#top_nav_container ul li {
  display: inline;
  margin-right: 10px;
}
#top_nav_container ul li a{
  color: #0645AD;
}
#main_tabs_articles_container {
  padding-right: 0;
}
#article_container {
  padding-right: 0;
}
#article_first_container {
  padding-right: 0;
}
#article_first_container div:nth-child(1){
  text-align: center;
}
#article_first_container h1 {
  font-size: 22.3px;
}
#article_first_container p {
  font-size: 12px;
}
#article_first_container a {
  color: #0645AD;
}
#article_first_container ul {
  display: inline-block;
  font-size: 13.3px;
}

/*--- ADDITIONAL STYLES, COLORS, ETC ---*/
.row {
  margin: 0;
}
#purple {
  color: #0b0080;
}
.dk-gray {
  color: #444444;
}
.lt-gray-border-btm {
  border-bottom: 1px solid #555;
}
.no-list-style-type {
  list-style-type: none;
}
